In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
#Q1). Scrape the details of most viewed videos on YouTube from Wikipedia.
#Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [19]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [20]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [21]:
delay=10

In [24]:
table1=[]
tabl=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr/td[2]')
for i in tabl:
    table1.append(i.text)

In [25]:
table1

['"Baby Shark Dance"[4]',
 '"Despacito"[7]',
 '"Johny Johny Yes Papa"[14]',
 '"Bath Song"[15]',
 '"Shape of You"[16]',
 '"See You Again"[18]',
 '"Phonics Song with Two Words"[23]',
 '"Wheels on the Bus"[24]',
 '"Uptown Funk"[25]',
 '"Learning Colors – Colorful Eggs on a Farm"[26]',
 '"Gangnam Style"[27]',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 '"Dame Tu Cosita"[33]',
 '"Sugar"[34]',
 '"Axel F"[35]',
 '"Roar"[36]',
 '"Counting Stars"[37]',
 '"Sorry"[38]',
 '"Thinking Out Loud"[39]',
 '"Baa Baa Black Sheep"[40]',
 '"Waka Waka (This Time for Africa)"[41]',
 '"Dark Horse"[42]',
 '"Faded"[43]',
 '"Let Her Go"[44]',
 '"Perfect"[45]',
 '"Girls Like You"[46]',
 '"Lakdi Ki Kathi"[47]',
 '"Bailando"[48]',
 '"Lean On"[49]',
 '"Humpty the train on a fruits ride"[50]']

In [26]:
col3=[]
tabl=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr/td[3]')
for i in tabl:
    col3.append(i.text)

In [27]:
col3

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Cocomelon – Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'ChuChu TV',
 'Cocomelon – Nursery Rhymes',
 'Mark Ronson',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'El Chombo',
 'Maroon 5',
 'Crazy Frog',
 'Katy Perry',
 'OneRepublic',
 'Justin Bieber',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Shakira',
 'Katy Perry',
 'Alan Walker',
 'Passenger',
 'Ed Sheeran',
 'Maroon 5',
 'Jingle Toons',
 'Enrique Iglesias',
 'Major Lazer',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs']

In [28]:
col4=[]
tabl=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr/td[4]')
for i in tabl:
    col4.append(i.text)

In [29]:
col4

['12.55',
 '8.11',
 '6.66',
 '6.08',
 '5.95',
 '5.82',
 '5.22',
 '5.04',
 '4.87',
 '4.86',
 '4.73',
 '4.54',
 '4.28',
 '3.84',
 '3.82',
 '3.76',
 '3.75',
 '3.64',
 '3.57',
 '3.56',
 '3.52',
 '3.48',
 '3.42',
 '3.40',
 '3.40',
 '3.39',
 '3.37',
 '3.35',
 '3.35',
 '3.34']

In [30]:
col5=[]
tabl=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr/td[5]')
for i in tabl:
    col5.append(i.text)

In [31]:
col5

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'March 6, 2014',
 'May 24, 2018',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'June 16, 2009',
 'September 5, 2013',
 'May 31, 2013',
 'October 22, 2015',
 'October 7, 2014',
 'June 25, 2018',
 'June 4, 2010',
 'February 20, 2014',
 'December 3, 2015',
 'July 25, 2012',
 'November 9, 2017',
 'May 31, 2018',
 'June 14, 2018',
 'April 11, 2014',
 'March 22, 2015',
 'January 26, 2018']

In [32]:
col1=[]
tabl=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr/td[1]')
for i in tabl:
    col1.append(i.text)

In [33]:
col1

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [34]:
import pandas as pd

In [35]:
df=pd.DataFrame({'Rank':col1,'Name of Video':table1,'Artist':col3,'views':col4,'upload date':col5})
df

,Rank,Name of Video,Artist,views,upload date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.55,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.11,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.66,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.08,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.95,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.82,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.22,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,5.04,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.87,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.86,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.73,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.54,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.28,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.84,"January 14, 2015"
14,15.,"""Axel F""[35]",Crazy Frog,3.82,"June 16, 2009"
15,16.,"""Roar""[36]",Katy Perry,3.76,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.75,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.64,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.57,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.56,"June 25, 2018"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.52,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.48,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.42,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.40,"July 25, 2012"
24,25.,"""Perfect""[45]",Ed Sheeran,3.40,"November 9, 2017"
25,26.,"""Girls Like You""[46]",Maroon 5,3.39,"May 31, 2018"
26,27.,"""Lakdi Ki Kathi""[47]",Jingle Toons,3.37,"June 14, 2018"
27,28.,"""Bailando""[48]",Enrique Iglesias,3.35,"April 11, 2014"
28,29.,"""Lean On""[49]",Major Lazer,3.35,"March 22, 2015"
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.34,"January 26, 2018"

In [ ]:
#2. Scrape the details team India’s international fixtures from bcci.tv.

In [12]:
driver.get("https://www.bcci.tv/")

In [13]:
delay=10

In [14]:
menu1=driver.find_element(By.CLASS_NAME,"nav-link ")
menu1.click()

In [26]:
title1=[]

In [27]:
titl=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in titl:
    title1.append(i.text)

In [28]:
title1

['3rd ODI -']

In [29]:
place1=[]

In [30]:
place=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place:
    place1.append(i.text)

In [31]:
place1

['MA Chidambaram Stadium,']

In [32]:
pl2=[]
pl=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in pl:
    pl2.append(i.text)

In [33]:
pl2

['Chennai']

In [36]:
place3=place1 + pl2

In [37]:
place3

['MA Chidambaram Stadium,', 'Chennai']

In [38]:
ser=[]
seri=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in seri:
    ser.append(i.text)

In [39]:
ser

['AUSTRALIA TOUR OF INDIA 2023']

In [40]:
date1=[]
dat=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in dat:
    date1.append(i.text)

In [41]:
date1

['22 MAR 2023']

In [42]:
time1=[]
tim=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in tim:
    time1.append(i.text)

In [43]:
time1

['1:30 PM IST']

In [48]:
import pandas as pd

In [51]:
df=pd.DataFrame({'Title':title1,'series':ser,'Place':place1,'City':pl2,'Date':date1,'Time':time1})
df

,Title,series,Place,City,Date,Time
0,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023,"MA Chidambaram Stadium,",Chennai,22 MAR 2023,1:30 PM IST

In [ ]:
#Q3) Scrape the details of State-wise GDP of India from statisticstime.com.

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.statisticstimes.com/")

In [6]:
delay=10

In [7]:
menu5=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]')
menu5.click()

In [8]:
menu6=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
menu6.click()

In [10]:
clic1=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
clic1.click()

In [41]:
cl1=[]
col=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in col:
    cl1.append(i.text[0:33])

In [42]:
cl1[0:33]

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [23]:
cl2=[]
col=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in col:
    cl2.append(i.text)

In [24]:
cl2[0:33]

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [26]:
clic3=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/thead/tr[2]/th[1]')
clic3.click()

In [27]:
cl3=[]
col=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in col:
    cl3.append(i.text)

In [28]:
cl3[0:33]

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '26,503',
 '31,790',
 '32,496',
 '36,572',
 '38,253',
 '55,984',
 '80,449',
 '165,472',
 '328,598',
 '329,180',
 '521,275',
 '574,760',
 '611,804',
 '831,610',
 '856,112',
 '906,672',
 '969,604',
 '972,782',
 '1,020,989',
 '1,253,832',
 '1,631,977',
 '1,687,818',
 '1,845,853']

In [29]:
clic4=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/thead/tr[2]/th[2]')
clic4.click()

In [30]:
cl4=[]
col=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in col:
    cl4.append(i.text)

In [31]:
cl4[0:33]

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [32]:
clic5=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/thead/tr[2]/th[3]')
clic5.click()

In [33]:
cl5=[]
col=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in col:
    cl5.append(i.text)

In [34]:
cl5[0:33]

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [35]:
clic6=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/thead/tr[2]/th[4]')
clic6.click()

In [36]:
cl6=[]
col=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in col:
    cl6.append(i.text)

In [37]:
cl6[0:33]

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [38]:
import pandas as pd

In [43]:
df=pd.DataFrame({'Rank':cl1[0:33],'State':cl2[0:33],'GSD 18-19':cl3[0:33],'GSD 19-20':cl4[0:33],'Share 18-19':cl5[0:33],'GDP billion':cl6[0:33]})
df

,Rank,State,GSD 18-19,GSD 19-20,Share 18-19,GDP billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,-,"1,630,208",8.63%,247.629
2,3,Uttar Pradesh,-,"1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,-,"1,493,127",7.91%,226.806
5,6,West Bengal,-,"1,089,898",5.77%,165.556
6,7,Rajasthan,-,"942,586",4.99%,143.179
7,8,Andhra Pradesh,-,"862,957",4.57%,131.083
8,9,Telangana,-,"861,031",4.56%,130.791
9,10,Madhya Pradesh,-,"809,592",4.29%,122.977
10,11,Kerala,"26,503","781,653",4.14%,118.733
11,12,Delhi,"31,790","774,870",4.10%,117.703
12,13,Haryana,"32,496","734,163",3.89%,111.519
13,14,Bihar,"36,572","530,363",2.81%,80.562
14,15,Punjab,"38,253","526,376",2.79%,79.957
15,16,Odisha,"55,984","487,805",2.58%,74.098
16,17,Assam,"80,449","315,881",1.67%,47.982
17,18,Chhattisgarh,"165,472","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,"329,180","245,895",1.30%,37.351
20,21,Jammu & Kashmir,"521,275","155,956",0.83%,23.690
21,22,Himachal Pradesh,"574,760","153,845",0.81%,23.369
22,23,Goa,"611,804","73,170",0.39%,11.115
23,24,Tripura,"831,610","49,845",0.26%,7.571
24,25,Chandigarh,"856,112","42,114",0.22%,6.397
25,26,Puducherry,"906,672","34,433",0.18%,5.230
26,27,Meghalaya,"969,604","33,481",0.18%,5.086
27,28,Sikkim,"972,782","28,723",0.15%,4.363
28,29,Manipur,"1,020,989","27,870",0.15%,4.233
29,30,Nagaland,"1,253,832","27,283",0.14%,4.144
30,31,Arunachal Pradesh,"1,631,977","24,603",0.13%,3.737
31,32,Mizoram,"1,687,818","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,"1,845,853",-,-,-

In [44]:
#Q4)Scrape the details of trending repositories on Github.com.
#Url = https://github.com/

In [45]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [46]:
driver.get("https://github.com/")

In [6]:
delay=10

In [51]:
menu1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
menu1.click()

In [52]:
smenu1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
smenu1.click()

In [53]:
rtitle=[]
col=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in col:
    rtitle.append(i.text)

In [54]:
rtitle

['microsoft / semantic-kernel',
 'tloen / alpaca-lora',
 'mayooear / gpt4-pdf-chatbot-langchain',
 'mckaywrigley / chatbot-ui',
 'raysan5 / raylib',
 'gencay / vscode-chatgpt',
 'f / awesome-chatgpt-prompts',
 'cocktailpeanut / dalai',
 'PlexPt / awesome-chatgpt-prompts-zh',
 'AUTOMATIC1111 / stable-diffusion-webui',
 'Stability-AI / stablediffusion',
 'logspace-ai / langflow',
 'GaiZhenbiao / ChuanhuChatGPT',
 'home-assistant / core',
 'nichtdax / awesome-totally-open-chatgpt',
 '1Panel-dev / 1Panel',
 'john-smilga / react-course-v3',
 'ruffle-rs / ruffle',
 'modelscope / modelscope',
 'jtmuller5 / The-HustleGPT-Challenge',
 'lencx / ChatGPT',
 '34j / so-vits-svc-fork',
 'PCSX2 / pcsx2',
 'acheong08 / EdgeGPT',
 'QSCTech / zju-icicles']

In [55]:
rdesc=[]
col=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in col:
    rdesc.append(i.text)

In [56]:
rdesc

['Integrate cutting-edge LLM technology quickly and easily into your apps',
 'Instruct-tune LLaMA on consumer hardware',
 'GPT4 & LangChain Chatbot for large PDF docs',
 'A ChatGPT clone for running locally in your browser.',
 'A simple and easy-to-use library to enjoy videogames programming',
 'Your best AI pair programmer - open source only',
 'This repo includes ChatGPT prompt curation to use ChatGPT better.',
 'The simplest way to run LLaMA on your local machine',
 'ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。',
 'Stable Diffusion web UI',
 'High-Resolution Image Synthesis with Latent Diffusion Models',
 '⛓️ LangFlow is a UI for LangChain, designed with react-flow to provide an effortless way to experiment and prototype flows.',
 'GUI for ChatGPT API',
 '🏡 Open source home automation that puts local control and privacy first.',
 'A list of totally open alternatives to ChatGPT',
 '现代化、开源的 Linux 服务器运维管理面板。',
 'A Flash Player emulator written in Rust',
 'ModelScope: bring the notion of Model-as-a-Service to life.',
 'Building Startups with an AI Co-Founder',
 '🔮 ChatGPT Desktop Application (Mac, Windows and Linux)',
 'so-vits-svc fork with REALTIME support (voice changer) and greatly improved interface.',
 'PCSX2 - The Playstation 2 Emulator',
 "Reverse engineered API of Microsoft's Bing Chat",
 '浙江大学课程攻略共享计划']

In [59]:
lang=[]
col=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in col:
    lang.append(i.text)

In [60]:
lang

['C#',
 'Jupyter Notebook',
 'TypeScript',
 'TypeScript',
 'C',
 'TypeScript',
 'HTML',
 'JavaScript',
 'Python',
 'Python',
 'TypeScript',
 'Python',
 'Python',
 'Go',
 'CSS',
 'Rust',
 'Python',
 'Rust',
 'Python',
 'C++',
 'Python',
 'HTML']

In [61]:
cont=[]
col=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"][1]')
for i in col:
    cont.append(i.text)

In [62]:
cont

['1,607',
 '3,400',
 '324',
 '735',
 '12,000',
 '1,607',
 '46,157',
 '3,623',
 '16,826',
 '50,310',
 '14,427',
 '1,017',
 '2,968',
 '58,994',
 '307',
 '888',
 '203',
 '11,762',
 '982',
 '863',
 '23,618',
 '77',
 '8,097',
 '4,014',
 '31,660']

In [63]:
df=pd.DataFrame({'Repository Title':rtitle[0:22],'Repository Description':rdesc[0:22],'Contrubution count':cont[0:22],'Langauge':lang[0:22]})
df

,Repository Title,Repository Description,Contrubution count,Langauge
0,microsoft / semantic-kernel,Integrate cutting-edge LLM technology quickly ...,"1,607",C#
1,tloen / alpaca-lora,Instruct-tune LLaMA on consumer hardware,"3,400",Jupyter Notebook
2,mayooear / gpt4-pdf-chatbot-langchain,GPT4 & LangChain Chatbot for large PDF docs,324,TypeScript
3,mckaywrigley / chatbot-ui,A ChatGPT clone for running locally in your br...,735,TypeScript
4,raysan5 / raylib,A simple and easy-to-use library to enjoy vide...,"12,000",C
5,gencay / vscode-chatgpt,Your best AI pair programmer - open source only,"1,607",TypeScript
6,f / awesome-chatgpt-prompts,This repo includes ChatGPT prompt curation to ...,"46,157",HTML
7,cocktailpeanut / dalai,The simplest way to run LLaMA on your local ma...,"3,623",JavaScript
8,PlexPt / awesome-chatgpt-prompts-zh,ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。,"16,826",Python
9,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,"50,310",Python
10,Stability-AI / stablediffusion,High-Resolution Image Synthesis with Latent Di...,"14,427",TypeScript
11,logspace-ai / langflow,"⛓️ LangFlow is a UI for LangChain, designed wi...","1,017",Python
12,GaiZhenbiao / ChuanhuChatGPT,GUI for ChatGPT API,"2,968",Python
13,home-assistant / core,🏡 Open source home automation that puts local ...,"58,994",Go
14,nichtdax / awesome-totally-open-chatgpt,A list of totally open alternatives to ChatGPT,307,CSS
15,1Panel-dev / 1Panel,现代化、开源的 Linux 服务器运维管理面板。,888,Rust
16,john-smilga / react-course-v3,A Flash Player emulator written in Rust,203,Python
17,ruffle-rs / ruffle,ModelScope: bring the notion of Model-as-a-Ser...,"11,762",Rust
18,modelscope / modelscope,Building Startups with an AI Co-Founder,982,Python
19,jtmuller5 / The-HustleGPT-Challenge,"🔮 ChatGPT Desktop Application (Mac, Windows an...",863,C++
20,lencx / ChatGPT,so-vits-svc fork with REALTIME support (voice ...,"23,618",Python
21,34j / so-vits-svc-fork,PCSX2 - The Playstation 2 Emulator,77,HTML

In [2]:
#Q5) Scrape the details of top 100 songs on billiboard.com.

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https:/www.billboard.com/")

In [4]:
delay=10

In [10]:
menu1=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
menu1.click()

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https:/www.billboard.com/")

In [4]:
delay=10

In [10]:
menu1=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
menu1.click()

In [11]:
menu2=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
menu2.click()

In [12]:
songn=[]
col=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//h3')
for i in col:
    songn.append(i.text)

In [13]:
songn

['Last Night',
 'Flowers',
 'Kill Bill',
 'Die For You',
 "Boy's A Liar, Pt. 2",
 "Creepin'",
 'Thought You Should Know',
 'You Proof',
 "Thinkin' Bout Me",
 'One Thing At A Time',
 "Ain't That Some",
 'Anti-Hero',
 'Red Ruby Da Sleeze',
 'Everything I Love',
 'Man Made A Bar',
 'Unholy',
 'TQG',
 'I Wrote The Book',
 'Calm Down',
 'Rock And A Hard Place',
 "I'm Good (Blue)",
 'Just Wanna Rock',
 'As It Was',
 'Players',
 'Cuff It',
 'Under The Influence',
 "'98 Braves",
 'Thank God',
 "Devil Don't Know",
 'Sunrise',
 'Lavender Haze',
 'Born With A Beer In My Hand',
 'Escapism',
 'Rich Flex',
 'Whiskey Friends',
 'Going, Going, Gone',
 'Sure Thing',
 'Tennessee Numbers',
 'Until I Found You',
 'Cowgirls',
 "Hope That's True",
 'Something In The Orange',
 'Dying Man',
 'Keith Whitley',
 'Superhero (Heroes & Villains)',
 'Snooze',
 'In The Bible',
 'Neon Star (Country Boy Lullaby)',
 'Golden Hour',
 'Shirt',
 'Me + All Your Reasons',
 'I Deserve A Drink',
 'F150-50',
 'Tennessee Fan',
 'Heart Like A Truck',
 'Single Than She Was',
 'Made You Look',
 'Wait In The Truck',
 'Wine Into Water',
 'On The Street',
 'Days That End In Why',
 'Painting Pictures',
 '180 (Lifestyle)',
 'Bebe Dame',
 'Last Drive Down Main',
 'Bloody Mary',
 'Favorite Song',
 'Spin Bout U',
 "Good Girl Gone Missin'",
 'Bzrp Music Sessions, Vol. 53',
 'Me To Me',
 'Money On Me',
 'Nobody Gets Me',
 'Love You Anyway',
 'Had It',
 'Outlook',
 "Don't Think Jesus",
 'Special',
 "What He Didn't Do",
 'Ceilings',
 'Wild As Her',
 'Watch This (ARIZONATEARS Pluggnb Remix)',
 'Handle On You',
 'Next Thing You Know',
 'In Ha Mood',
 'Freestyle',
 'Dawns',
 'Love Again',
 'Private Landing',
 'Que Vuelvas',
 'Tennessee Orange',
 'Low',
 'X Si Volvemos',
 'Trance',
 'Forever',
 'Nonsense',
 'AMG',
 'Lift Me Up',
 "You Didn't",
 '10:35']

In [18]:
artn=[]
col=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in col:
    artn.append(i.text.split('\n')[1])

In [19]:
artn

['Morgan Wallen',
 'Miley Cyrus',
 'SZA',
 'The Weeknd & Ariana Grande',
 'PinkPantheress & Ice Spice',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Taylor Swift',
 'Nicki Minaj',
 'Morgan Wallen',
 'Morgan Wallen Featuring Eric Church',
 'Sam Smith & Kim Petras',
 'Karol G x Shakira',
 'Morgan Wallen',
 'Rema & Selena Gomez',
 'Bailey Zimmerman',
 'David Guetta & Bebe Rexha',
 'Lil Uzi Vert',
 'Harry Styles',
 'Coi Leray',
 'Beyonce',
 'Chris Brown',
 'Morgan Wallen',
 'Kane Brown With Katelyn Brown',
 'Morgan Wallen',
 'Morgan Wallen',
 'Taylor Swift',
 'Morgan Wallen',
 'RAYE Featuring 070 Shake',
 'Drake & 21 Savage',
 'Morgan Wallen',
 'Luke Combs',
 'Miguel',
 'Morgan Wallen',
 'Stephen Sanchez',
 'Morgan Wallen Featuring ERNEST',
 'Morgan Wallen',
 'Zach Bryan',
 'Morgan Wallen',
 'Morgan Wallen',
 'Metro Boomin, Future & Chris Brown',
 'SZA',
 'Morgan Wallen Featuring HARDY',
 'Morgan Wallen',
 'JVKE',
 'SZA',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Lainey Wilson',
 'Morgan Wallen',
 'Meghan Trainor',
 'HARDY Featuring Lainey Wilson',
 'Morgan Wallen',
 'j-hope With J. Cole',
 'Morgan Wallen',
 'Superstar Pride',
 'Morgan Wallen',
 'Fuerza Regida X Grupo Frontera',
 'Morgan Wallen',
 'Lady Gaga',
 'Toosii',
 'Drake & 21 Savage',
 'Morgan Wallen',
 'Bizarrap & Shakira',
 'Morgan Wallen',
 'Morgan Wallen',
 'SZA',
 'Luke Combs',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Lizzo Featuring SZA',
 'Carly Pearce',
 'Lizzy McAlpine',
 'Corey Kent',
 'Lil Uzi Vert',
 'Parker McCollum',
 'Jordan Davis',
 'Ice Spice',
 'Lil Baby',
 'Zach Bryan Featuring Maggie Rogers',
 'The Kid LAROI',
 'Don Toliver Featuring Justin Bieber & Future',
 'Carin Leon X Grupo Frontera',
 'Megan Moroney',
 'SZA',
 'Karol G x Romeo Santos',
 'Metro Boomin, Travis Scott & Young Thug',
 'Lil Baby Featuring Fridayy',
 'Sabrina Carpenter',
 'Gabito Ballesteros, Peso Pluma & Natanael Cano',
 'Rihanna',
 'Brett Young',
 'Tiesto Featuring Tate McRae']

In [32]:
rank=[]
col=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in col:
    rank.append(i.text.split('\n')[2])

In [33]:
rank

['5',
 '2',
 '3',
 '1',
 '4',
 '6',
 '13',
 '21',
 '-',
 '51',
 '-',
 '9',
 '-',
 '93',
 '-',
 '8',
 '7',
 '64',
 '15',
 '17',
 '11',
 '12',
 '14',
 '16',
 '10',
 '18',
 '-',
 '19',
 '-',
 '-',
 '23',
 '-',
 '22',
 '20',
 '-',
 '24',
 '28',
 '-',
 '27',
 '-',
 '-',
 '26',
 '-',
 '-',
 '30',
 '32',
 '-',
 '-',
 '31',
 '33',
 '-',
 '-',
 '-',
 '-',
 '29',
 '-',
 '34',
 '40',
 '-',
 '-',
 '-',
 '25',
 '-',
 '41',
 '-',
 '46',
 '44',
 '47',
 '-',
 '42',
 '-',
 '-',
 '43',
 '39',
 '-',
 '-',
 '-',
 '53',
 '54',
 '60',
 '58',
 '56',
 '55',
 '67',
 '69',
 '61',
 '52',
 '59',
 '72',
 '57',
 '70',
 '63',
 '48',
 '87',
 '76',
 '75',
 '80',
 '65',
 '78',
 '81']

In [34]:
prank=[]
col=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in col:
    prank.append(i.text.split('\n')[3])

In [35]:
prank

['1',
 '1',
 '2',
 '1',
 '3',
 '3',
 '7',
 '5',
 '9',
 '10',
 '11',
 '1',
 '13',
 '14',
 '15',
 '1',
 '7',
 '18',
 '15',
 '16',
 '4',
 '10',
 '1',
 '16',
 '6',
 '12',
 '27',
 '13',
 '29',
 '30',
 '2',
 '32',
 '22',
 '2',
 '35',
 '23',
 '28',
 '38',
 '23',
 '40',
 '41',
 '10',
 '43',
 '44',
 '8',
 '29',
 '47',
 '48',
 '10',
 '11',
 '51',
 '52',
 '53',
 '49',
 '29',
 '56',
 '11',
 '23',
 '59',
 '60',
 '57',
 '25',
 '63',
 '25',
 '65',
 '46',
 '44',
 '5',
 '69',
 '9',
 '71',
 '72',
 '10',
 '15',
 '75',
 '76',
 '7',
 '52',
 '53',
 '60',
 '58',
 '56',
 '55',
 '67',
 '68',
 '59',
 '42',
 '40',
 '72',
 '50',
 '53',
 '17',
 '48',
 '42',
 '8',
 '56',
 '66',
 '2',
 '63',
 '69']

In [36]:
week=[]
col=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in col:
    week.append(i.text.split('\n')[4])

In [37]:
week

['6',
 '8',
 '13',
 '32',
 '5',
 '14',
 '30',
 '43',
 '1',
 '14',
 '1',
 '20',
 '1',
 '6',
 '1',
 '24',
 '2',
 '6',
 '27',
 '39',
 '28',
 '21',
 '49',
 '10',
 '30',
 '26',
 '1',
 '26',
 '1',
 '1',
 '20',
 '1',
 '14',
 '18',
 '1',
 '17',
 '32',
 '1',
 '36',
 '1',
 '1',
 '46',
 '1',
 '1',
 '14',
 '13',
 '1',
 '1',
 '28',
 '19',
 '1',
 '1',
 '1',
 '6',
 '17',
 '1',
 '20',
 '27',
 '1',
 '1',
 '2',
 '4',
 '1',
 '11',
 '1',
 '10',
 '3',
 '18',
 '1',
 '8',
 '1',
 '1',
 '13',
 '4',
 '1',
 '1',
 '6',
 '4',
 '12',
 '3',
 '22',
 '3',
 '10',
 '7',
 '5',
 '23',
 '6',
 '6',
 '2',
 '11',
 '13',
 '13',
 '5',
 '5',
 '9',
 '8',
 '7',
 '19',
 '9',
 '7']

In [38]:
import pandas as pd

In [39]:
df=pd.DataFrame({'Song Name':songn,'Artist Name':artn,'Last week rank':rank,'Peak rank':prank,'Weeks on board':week})
df

,Song Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,Last Night,Morgan Wallen,5,1,6
1,Flowers,Miley Cyrus,2,1,8
2,Kill Bill,SZA,3,2,13
3,Die For You,The Weeknd & Ariana Grande,1,1,32
4,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,4,3,5
...,...,...,...,...,...
95,Nonsense,Sabrina Carpenter,75,56,8
96,AMG,"Gabito Ballesteros, Peso Pluma & Natanael Cano",80,66,7
97,Lift Me Up,Rihanna,65,2,19
98,You Didn't,Brett Young,78,63,9
99,10:35,Tiesto Featuring Tate McRae,81,69,7

In [40]:
# Q6)Scrape the details of Highest sellingnovels

In [41]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [42]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [43]:
delay=10

In [46]:
bookn=[]
col=driver.find_elements(By.XPATH,'//td[@class="left"][2]')
for i in col:
    bookn.append(i.text)

In [47]:
bookn

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [48]:
authn=[]
col=driver.find_elements(By.XPATH,'//td[@class="left"][3]')
for i in col:
    authn.append(i.text)

In [49]:
authn

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [52]:
volu=[]
col=driver.find_elements(By.XPATH,'//td[@class="left"][4]')
for i in col:
    volu.append(i.text)

In [53]:
volu

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [54]:
pub=[]
col=driver.find_elements(By.XPATH,'//td[@class="left"][5]')
for i in col:
    pub.append(i.text)

In [55]:
pub

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [58]:
gen=[]
col=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in col:
    gen.append(i.text)

In [59]:
gen

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [60]:
import pandas as pd

In [63]:
df=pd.DataFrame({'Book Name':bookn,'Author':authn, 'Volumes sold':volu,'Publicer':pub,'Gener':gen})
df

,Book Name,Author,Volumes sold,Publicer,Gener
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [64]:
#Q7) 7. Scrape the details most watched tv series of all time from imdb.com.
#Url = https://www.imdb.com/list/ls095964455/

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [4]:
delay=10

In [13]:
Name=[]
col=driver.find_elements(By.XPATH,'//h3//a')
for i in col:
    Name.append(i.text)

In [15]:
Name

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [16]:
year=[]
col=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in col:
    year.append(i.text)

In [17]:
year

['(2011–2019)',
 '(2016–2024)',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011–2019)',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015–2023)',
 '(1999– )',
 '(2013–2023)',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019–2023)',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016–2023)',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005– )',
 '(2015–2019)',
 '(2018)']

In [18]:
gen1=[]
col=driver.find_elements(By.XPATH,'//span[@class="certificate"]')
for i in col:
    gen1.append(i.text)

In [19]:
gen1

['TV-MA',
 'TV-14',
 'TV-MA',
 'TV-MA',
 'TV-14',
 'TV-MA',
 'TV-14',
 'TV-14',
 'TV-PG',
 'TV-14',
 'TV-MA',
 'TV-PG',
 'TV-MA',
 'TV-14',
 'TV-MA',
 'TV-14',
 'TV-14',
 'TV-MA',
 'TV-MA',
 'TV-14',
 'TV-14',
 'TV-14',
 'TV-14',
 'TV-14',
 'TV-14',
 'TV-PG',
 'TV-MA',
 'TV-MA',
 'TV-14',
 'TV-14',
 'TV-14',
 'TV-MA',
 'TV-14',
 'TV-PG',
 'TV-14',
 'TV-MA',
 'TV-14',
 'TV-MA',
 'TV-MA',
 'TV-PG',
 'TV-14',
 'TV-14',
 'TV-MA',
 'TV-MA',
 'TV-MA',
 'TV-MA',
 'TV-MA',
 'TV-MA',
 'TV-14',
 'TV-PG',
 'TV-MA',
 'TV-MA',
 'TV-MA',
 'TV-MA',
 'TV-14',
 'TV-14',
 'TV-MA',
 'TV-14',
 'TV-14',
 'TV-MA',
 'TV-MA',
 'TV-14',
 'TV-14',
 'TV-MA',
 'TV-14',
 'TV-14',
 'TV-PG',
 'TV-PG',
 'TV-14',
 'TV-14',
 'TV-14',
 'TV-14',
 'TV-MA',
 'TV-MA',
 'TV-14',
 'TV-MA',
 'TV-MA',
 'TV-MA',
 'TV-MA',
 'TV-14',
 'TV-14',
 'TV-PG',
 'TV-MA',
 'TV-MA',
 'TV-MA',
 'TV-14',
 'TV-MA',
 'TV-14',
 'TV-MA',
 'TV-MA',
 'TV-MA',
 'TV-14',
 'TV-MA',
 'TV-MA',
 'TV-14',
 'TV-14',
 'TV-PG',
 'TV-14',
 'TV-14',
 'TV-MA']

In [20]:
tim1=[]
col=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in col:
    tim1.append(i.text)

In [21]:
tim1

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [22]:
rat1=[]
col=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in col:
    rat1.append(i.text)

In [23]:
rat1[0:5]

['9.2', '8.7', '8.1', '7.5', '7.6']

In [24]:
vot1=[]
col=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in col:
    vot1.append(i.text)

In [25]:
vot1[0:20]

['2,140,414',
 '1,224,878',
 '1,016,149',
 '299,271',
 '258,117',
 '307,364',
 '147,350',
 '317,198',
 '352,542',
 '435,619',
 '489,631',
 '822,179',
 '562,653',
 '942,002',
 '545,591',
 '170,698',
 '328,298',
 '324,853',
 '1,944,599',
 '332,207']

In [26]:
import pandas as pd

In [27]:
df=pd.DataFrame({'Name':Name, 'YearSapn':year, 'Genure':gen1,'Runtime':tim1,'Rating':rat1,'Votes':vot1})
df

,Name,YearSapn,Genure,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),TV-MA,57 min,9.2,"2,140,414"
1,Stranger Things,(2016–2024),TV-14,51 min,8.7,"1,224,878"
2,The Walking Dead,(2010–2022),TV-MA,44 min,8.1,"1,016,149"
3,13 Reasons Why,(2017–2020),TV-MA,60 min,7.5,"299,271"
4,The 100,(2014–2020),TV-14,43 min,7.6,"258,117"
...,...,...,...,...,...,...
95,Reign,(2013–2017),TV-14,42 min,7.4,"51,066"
96,A Series of Unfortunate Events,(2017–2019),TV-PG,50 min,7.8,"63,083"
97,Criminal Minds,(2005– ),TV-14,42 min,8.1,"205,215"
98,Scream: The TV Series,(2015–2019),TV-14,45 min,7.1,"42,547"
99,The Haunting of Hill House,(2018),TV-MA,572 min,8.6,"253,958"

In [2]:
#Qno-8. Details of Datasets from UCI machine learning repositories.
#Url = https://archive.ics.uci.edu/

In [32]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [33]:
driver.get("https://archive.ics.uci.edu/")

In [34]:
delay=10

In [35]:
menu1=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]')
menu1.click()

In [36]:
dname=[]
col=driver.find_elements(By.XPATH,'//b//a')
for i in col:
    dname.append(i.text)

In [58]:
dname[0:20]

['Abalone',
 'Adult',
 'Annealing',
 'Anonymous Microsoft Web Data',
 'Arrhythmia',
 'Artificial Characters',
 'Audiology (Original)',
 'Audiology (Standardized)',
 'Auto MPG',
 'Automobile',
 'Badges',
 'Balance Scale',
 'Balloons',
 'Breast Cancer',
 'Breast Cancer Wisconsin (Original)',
 'Breast Cancer Wisconsin (Prognostic)',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Pittsburgh Bridges',
 'Car Evaluation',
 'Census Income']

In [38]:
dtype=[]
col=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
for i in col:
    dtype.append(i.text)

In [59]:
dtype[1:20]

['Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Univariate, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ']

In [ ]:
#scrap from a table data can be done by using absulute x path also.

In [40]:
task=[]
col=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
for i in col:
    task.append(i.text)

In [60]:
task[1:20]

['Classification ',
 'Classification ',
 'Classification ',
 'Recommender-Systems ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ']

In [45]:
atrtype=[]
col=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
for i in col:
    atrtype.append(i.text)

In [61]:
atrtype[1:20]

['Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical ',
 'Categorical, Real ',
 'Categorical, Integer, Real ',
 ' ',
 'Categorical ',
 'Categorical ',
 'Categorical ',
 'Integer ',
 'Real ',
 'Real ',
 'Categorical, Integer ',
 'Categorical ']

In [48]:
ins=[]
col=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
for i in col:
    ins.append(i.text)

In [62]:
ins[1:20]

['4177 ',
 '48842 ',
 '798 ',
 '37711 ',
 '452 ',
 '6000 ',
 '226 ',
 '226 ',
 '398 ',
 '205 ',
 '294 ',
 '625 ',
 '16 ',
 '286 ',
 '699 ',
 '198 ',
 '569 ',
 '108 ',
 '1728 ']

In [50]:
atrn=[]
col=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
for i in col:
    atrn.append(i.text)

In [63]:
atrn[1:20]

['8 ',
 '14 ',
 '38 ',
 '294 ',
 '279 ',
 '7 ',
 ' ',
 '69 ',
 '8 ',
 '26 ',
 '1 ',
 '4 ',
 '4 ',
 '9 ',
 '10 ',
 '34 ',
 '32 ',
 '13 ',
 '6 ']

In [52]:
year=[]
col=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
for i in col:
    year.append(i.text)

In [64]:
year[1:20]

['1995 ',
 '1996 ',
 ' ',
 '1998 ',
 '1998 ',
 '1992 ',
 '1987 ',
 '1992 ',
 '1993 ',
 '1987 ',
 '1994 ',
 '1994 ',
 ' ',
 '1988 ',
 '1992 ',
 '1995 ',
 '1995 ',
 '1990 ',
 '1997 ']

In [67]:
import pandas as pd

In [74]:
df=pd.DataFrame({'DatasetName':dname[0:19],'DatasetType':dtype[1:20],'Task':task[1:20],'AtributeType':atrtype[1:20],'NoofInstance':ins[1:20],'NoofAtributes':atrn[1:20],'Year':year[1:20]})
df

,DatasetName,DatasetType,Task,AtributeType,NoofInstance,NoofAtributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
5,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
6,Audiology (Original),Multivariate,Classification,Categorical,226,,1987
7,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
8,Auto MPG,Multivariate,Regression,"Categorical, Real",398,8,1993
9,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987
10,Badges,"Univariate, Text",Classification,,294,1,1994
11,Balance Scale,Multivariate,Classification,Categorical,625,4,1994
12,Balloons,Multivariate,Classification,Categorical,16,4,
13,Breast Cancer,Multivariate,Classification,Categorical,286,9,1988
14,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,10,1992
15,Breast Cancer Wisconsin (Prognostic),Multivariate,"Classification, Regression",Real,198,34,1995
16,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,32,1995
17,Pittsburgh Bridges,Multivariate,Classification,"Categorical, Integer",108,13,1990
18,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997

In [9]:
# 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [4]:
delay=10

In [5]:
searcht=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
searcht.send_keys('Data Science')

In [6]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search.click()

In [7]:
name=[]
col=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in col:
    name.append(i.text)

In [8]:
name[0:10]

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials']

In [9]:
desi=[]
col=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in col:
    desi.append(i.text)

In [10]:
desi[0:10]

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource']

In [11]:
comp=[]
col=driver.find_elements(By.XPATH,'//a[@class="ellipsis"][2]')
for i in col:
    comp.append(i.text)

In [12]:
comp[0:10]

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'Enerlytics Software Solutions Pvt Ltd',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited']

In [13]:
skill=[]
col=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in col:
    skill.append(i.text)

In [14]:
skill[0:10]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript']

In [15]:
location=[]
col=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in col:
    location.append(i.text)

In [16]:
location[0:10]

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore']

In [17]:
import pandas as pd

In [18]:
df=pd.DataFrame({'Name':name[0:20],'Designation':desi[0:20],'Company':comp[0:20],'Skill hire for':skill[0:20],'Location':location[0:20]})
df

,Name,Designation,Company,Skill hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai